.container {
  margin: 20px 0;
}

.card {
  position: relative;
  height: 250px;
  display: flex;
  margin: 30px 0;
  max-width: 500px;

  &:hover .imgbox {
    width: 150px;
    height: 150px;
    left: -75px;
    top: calc(50% - 75px);
    background-color: #F7931E;
    transition: 0.5s ease-in-out;
  }

  &:hover .imgbox img {
    max-width: 75px;
    transition: 0.5s ease-in-out;
  }
}

.imgbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.5s ease-in-out;
  z-index: 3;

  &::before {
    content: attr(data-text);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 6em;
    color: rgba(255, 255, 255, 0.05);
    font-weight: 700;
  }
}

.detail {
  position: absolute;
  padding: 20px;
}

@media (max-width: 992px) {
  .container {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .container .card {
    width: 400px;
  }
}

@media (max-width: 500px) {
  .detail{
    padding: 20px;
  }
  .container .card {
    max-width: 300px;
    flex-direction: column;
    height: auto;
  }
  .container .card .imgbox {
    height: 230px;
  }

  .container .card .imgbox {
    width: 100%;
    left: 0;
  }
  .container .card:hover .imgbox {
    width: 100%;
    height: 200px;
    left: 0;
  }
  .container .card:hover .imgbox {
    top: -200px;
  }
  .container .card .imgbox img,
  .container .card:hover .imgbox img {
    max-width: 100px;
  }
  .container .card .detail {
    position: relative;
    width: 100%;
  }
  .container .card .imgbox::before {
    content: attr(data-text);
    font-size: 5em;
  }
}
