.services-section {
  padding: 50px 20px;
  font-family: 'Arial', sans-serif;
  background-color: #121212;
  color: #ffffff;
}

.section-intro {
  text-align: center;
  margin-bottom: 40px;

  h3 {
    font-size: 24px;
    letter-spacing: 2px;
    color: #ff6f00;
  }

  h1 {
    font-size: 36px;
    margin-top: 10px;
  }

  .lead {
    font-size: 16px;
    line-height: 1.8;
    max-width: 800px;
    margin: 20px auto 0;
  }
}

.highlight-link {
  color: #ffa500;
  text-decoration: none;
}

.events-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.event-card {
  background-color: #1e1e1e;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  max-width: 400px;
  flex: 1 1 calc(50% - 20px);
  margin: 10px;

  &:hover {
    transform: translateY(-5px);
    transition: all 0.3s ease-in-out;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  }

  .event-icon {
    font-size: 40px;
    color: #ffa500;
    margin-bottom: 20px;
  }

  .event-title {
    font-size: 22px;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-weight: bold;
  }

  .event-desc {
    font-size: 14px;
    line-height: 1.6;
    color: #cccccc;
  }
}
.read-more-button {
  color: #f7931e; /* Match the theme color */
  text-decoration: none;
  font-weight: bold;
  border: none;
  background: transparent;
  cursor: pointer;
  transition: color 0.3s, transform 0.2s; /* Smooth color change and interaction */
  font-size: 1rem;
  margin-top: 10px;
}

.read-more-button:hover {
  color: #ffa500; /* Slightly lighter shade on hover */
  transform: scale(1.1); /* Slight zoom effect */
}
