.button-container {
    position: relative;
    margin: auto;
    padding: .5rem 3rem;
    border-radius: 5px;
    background-color: #1c1d20;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: fit-content;
  }