.container {
    height: 200vh;
    position: relative;

    .imageContainer {
        position: sticky;
        top: 0;
        height: 100vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-top-left-radius: 3rem /* 24px */;
        border-top-right-radius: 3rem /* 24px */;
        overflow: hidden;

        img {
            object-fit: cover;
            width: 50vw;
            height: auto;
        }
    }
}
