@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* color: var(--foreground); */
  /* background: var(--background); */
  font-family: Arial, Helvetica, sans-serif;
  /* overflow: hidden; */
}

.slick-arrow .slick-next {
  background-color: black;
}

.slick-slide > div {
  margin: 0 5px;
}

.scroll-section-outer {
  overflow: hidden;
}

.scroll-section-inner {
  height: 100vh;
  width: 200vw;
  display: flex;
  flex-direction: row;
  position: relative;
}

.scroll-section {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll-section h3 {
  color: var(--primaryTextColor);
  letter-spacing: var(--headlineMedium);
  font-size: var(--headlineMedium);
  text-transform: uppercase;
}
@media (max-width: 1050px) {
  .hero-container {
    display: none;
  }
  .Image-carousel {
    width: 100%;
  }
}

.MotoSection{
  background-image: url("/Hero_image2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
